# --- PostgreSQL ---
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/CinemaDB
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

# --- Email (OTP) ---
# Nếu không set, OTP sẽ in ra console backend
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=celestiacinema@gmail.com
MAIL_PASSWORD=

# --- JWT ---
JWT_SECRET=O3H07Jx+UOlQP0HSrW346hj71UDxyF/kfXpGSyZSy/Y=
